.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    border: none;
    border-radius: 60%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .back-btn:hover {
    transform: translateY(-2px);
  }
